@import "tailwindcss";

@theme {
  /* Definición de colores del horru */
  --color-maiz: #FFBF00;
  --color-madera: #3D2B1F;
  --color-piedra: #78716C;
  --color-fondu: #F8F5F2;

  /* Fontes artesanes */
  --font-artesana: "Instrument Serif", serif;
  --font-moderna: "Inter", sans-serif;
}

@layer base {
  html {
    background-color: var(--color-fondu);
    color: var(--color-madera);
    font-family: var(--font-moderna);
  }
  
  h1, h2, h3 {
    font-family: var(--font-artesana);
  }
}

/* El toque de testura pa la piedra */
.textura-horreo {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  opacity: 0.04;
}