---
// src/pages/index.astro
---
<meta http-equiv="refresh" content="0;url=/es/" />
<html lang="ast">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Esbilla CMP - Asturianu</title>
	</head>
	<body>
		
    <h1>Bienveníos a Esbilla CMP (Asturianu)</h1>
  
	</body>
</html>